.description{
  padding: 25px 160px;
  &__grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
    &__list{
      padding-left: 15px;
      font-size: 16pt;
      &__item{
        margin: 7px;
      }
    }

    &__p{
      line-height: 30px;
      margin: 0 15px;
      font-size: 16pt;
    }
  }
}
@media (max-width: 900px) {
  .description{
    padding: 25px 10px;
  }
}