.nav{
  padding: 50px 160px 30px;
  &__list{
    display: flex;
    justify-content: flex-start;
    &__item{
      list-style: none;
      margin-right: 15px;
      font-size: 16pt;
      &__a{
        color: black;
        text-decoration: none;
      }
      &__a:active{
        color: #56B68B;
      }
      &__a:hover{
        color: #56B68B;
      }
    }
  }
}
@media (max-width: 900px) {
  .nav{
    padding: 50px 10px;
  }
}