.header{
  display: grid;
  grid-template-columns: 160px auto;
  background-color: #333333;

  &__img{
    height: 45px;
    margin: 10px;
    width: 150px;
  }

  &__nav{
    display: flex;
    justify-content: flex-end;
    &__item{
      cursor: pointer;
      text-align: center;
      box-sizing: border-box;
      padding-top: 17px;
      font-size: 16pt;
      color: white;
      height: 65px;
      width: 104px;
      list-style: none;
    }
    &__button{
      padding: 5px 5px 0;
      height: 40px;
      margin: 10px 20px;
      width: 180px;
      border: 2px solid white;
      border-radius: 2%;
    }
    &__item:hover{
      background-color: #56B68B;
    }
  }
}
@media (max-width: 900px) {
  .header{
    .header__nav{
      justify-content: space-around;
    }
    grid-template-columns: 100%;
    .header__img{
      margin: auto;
    }
  }
}
@media (max-width: 650px) {
  .header{
    .header__nav{
      justify-content: space-around;
      flex-direction: column;
      .header__nav__item{
        width: 80%;
        margin: 3px auto;
      }
    }
  }
}