@import "scss-modules/header";
@import "scss-modules/clients-logos";
@import "scss-modules/service-cases";
@import "scss-modules/service-description";
@import "scss-modules/service-list";

*{
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}